.doc_chunk {
    margin-bottom: 2em;
}
.doc_chunk h2 {
    border-bottom: solid 1px #DDD; 
}
p span {
    font-family: monospace;
}
.perma a {
    display: none;
}
.perma:hover a {
    display: inline;
}
