/* Global */
html {
    font-family: 'Raleway', sans-serif;
}
header ul, footer ul {
    list-style: none;
}
header ul li, footer ul li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}
header h1 {
    margin-top: 0px;
}
header .pull-right, footer .pull-right {
    text-align: right;
}
footer {
    border-top: solid 1px #aaa;
}
footer ul {
    padding-left: 0px;
}
#busted_pixel {
    position: fixed;
    top: 420px;
    left: 340px;
    z-index: 1000;
}

/* Index Page */
.oleg_logo {
    margin: 0 auto;
    width: 16em;
    display: block;
}
#oleg_logo2 {
    width: 20em;
}
.center_text {
    margin-top: 3em;
    text-align: center;
}
