html {
    font-family: 'Times New Romain';
}
#m-muh_container, footer, header {
    margin: 0 auto;
    width: 1140px;
}
footer {
    border-top: solid 1px #999;
}

#oleg_logo {
    margin: 0 auto;
    width: 400px;
}
