/* Global */
html {
    color: #444;
    font-family: 'Raleway', sans-serif;
    background-color: #F5EADC;
}
#main_container {
    background-color: #FFF;
}
a {
    text-decoration: none;
    color: #510922;
}
header h1 a {
    vertical-align: middle;
}
a:hover {
    color: #B14C6D;
}
#logo_col {
    margin-right: 1em;
}
header {
    padding-bottom: 1em;
}
header img {
    display: inline;
    width: 6em;
    margin-right: 2em;
}
header, footer {
    background-color: #F5EADC;
}
header ul, footer ul {
    list-style: none;
}
header ul li, footer ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 1em;
}
header h1 {
    display: inline;
    margin-top: 0px;
}
header .pull-right, footer .pull-right {
    text-align: right;
}
footer ul {
    padding-left: 0px;
}
#busted_pixel {
    position: fixed;
    top: 420px;
    left: 340px;
    z-index: 1000;
}
.italic {
    font-style: italic;
}
.bold {
    font-weight: bold;
}
#git_icon img {
    width: 2em;
}
pre code {
    display:block;
    padding:5px;
    background-color:#DDD;
    border:solid 1px #AAA
}
