<!DOCTYPE html>
<html>
    <head>
        <title>OlegDB - xXx TITLE xXx</title>
        <link rel="stylesheet" href="/static/css/main.css" />
    </head>
    <body>
        <header>
            <div class="left">
                <h1>OlegDB</h1>
            </div>
            <div class="right">
                <ul>
                    <li><a href="/index.html">About</a></li>
                    <li><a href="/who.html">Who</a></li>
                    <li><a href="/code.html">Source</a></li>
                </ul>
            </div>
        </header>
        <div id="m-muh_container">
            xXx CONTENT xXx
        </div>
    </body>
    <footer>
        <div class="left">
            <ul>
                <li>wooo</li>
            </ul>
        </div>
    </footer>
</html>
