xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Blog
xXx TTYL xXx
xXx META xXx
<meta name="description" content="Technical blog and propoganda for OlegDB">
xXx TTYL xXx
xXx SCRIPTS xXx
<link rel="stylesheet" href="/static/css/blog.css" />
xXx TTYL xXx
xXx CONTENT xXx
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content">
            xXx LOOP blog_meta POSTS xXx
                <h2 class="post_title">xXx blog_meta$title xXx</h2>
                <p><span class="xXx blog_meta$icon_class xXx author_icon"></span><span class="author_name">xXx blog_meta$author xXx</span></p>
            xXx BBL xXx
            </div>
        </div>
    </div>
xXx TTYL xXx
