xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    xXx post_meta$title xXx
xXx TTYL xXx
xXx META xXx
<meta name="description" content="Technical blog and propoganda for OlegDB">
xXx TTYL xXx
xXx SCRIPTS xXx
<link rel="stylesheet" href="/static/css/blog.css" />
xXx TTYL xXx
xXx CONTENT xXx
    xXx LOOP post_meta dumb_meta xXx
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content">
                <h2 class="post_title">xXx post_meta$title xXx</h2>
                <p>
                    <span class="xXx post_meta$icon_class xXx author_icon"></span>
                    <span class="author_name">xXx post_meta$date xXx by xXx post_meta$author xXx</span>
                </p>
                xXx post_meta$content xXx
            </div>
        </div>
    </div>
    xXx BBL xXx
xXx TTYL xXx
