xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Documentation
xXx TTYL xXx
xXx SCRIPTS xXx
<link rel="stylesheet" href="/static/css/documentation.css" />
xXx TTYL xXx
xXx CONTENT xXx
    <div class="grid grid-pad">
        <div class="col-3-12">
            <div class="content">
                <h1>Overview</h1>
                <ul>
                    <li>
                        <a href="#overview">General Overview</a>
                        <ul>
                            <li><a href="#installation">Installation</a></li>
                            <li><a href="#getting_started">Getting Started</a></li>
                            <li><a href="#wtf">What the hell is up with your responses?</a></li>
                        </ul>
                    </li>
                </ul>
                <h1>liboleg</h1>
                <ul>
                    <li>
                        <a href="#macros">Macros</a>
                        <ul>
                            xXx LOOP macro DEFINE xXx
                            <li><a href="#xXx macro$name xXx">xXx macro$name xXx</a></li>
                            xXx BBL xXx
                        </ul>
                    </li>
                    <li>
                        <a href="#enums">Enums</a>
                        <ul>
                        xXx LOOP enum ENUM xXx
                            <li><a href="#xXx enum$name xXx">xXx enum$name xXx</a></li>
                        xXx BBL xXx
                        </ul>
                    </li>
                    <li>
                        <a href="#structures">Structures</a>
                        <ul>
                        xXx LOOP struct STRUCT xXx
                            <li><a href="#xXx struct$name xXx">xXx struct$name xXx</a></li>
                        xXx BBL xXx
                        </ul>
                    </li>
                    <li>
                        <a href="#functions">Functions</a>
                        <ul>
                        xXx LOOP func FUNCTION xXx
                            <li><a href="#xXx func$name xXx">xXx func$name xXx</a></li>
                        xXx BBL xXx
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9-12">
            <div class="content">
                <div class="doc_chunk">
                    <h2 class="perma" id="overview">General Overview <a href="#overview">&para;</a></h2>
                    <p>OlegDB is a concurrent, pretty fast K/V hash-table with an Erlang frontend. It uses the <a href=\"https://en.wikipedia.org/wiki/MurmurHash\">Murmur3</a> hashing algorithm to hash and index keys. We chose Erlang for the server because it's functional, uses the actor model and the pattern matching is ridiculous.</p>

                    <h3 class="perma" id="installation">Installation <a href="#installation">&para;</a></h3>
                    <p>Installing OlegDB is pretty simple, you only need a POSIX compliant system, make, gcc/clang (thats all we've tested) and Erlang. You'll also need the <a href="downloads.html">source code for Oleg.</a></p>
                    <p>Once you have your fanciful medley of computer science tools, you're ready to dive into a length and complex process of program compilation. Sounds foreboding? Have no fear, people have been doing this for <a href="http://en.wikipedia.org/wiki/Make_(software)">at least a quarter of a century.</a></p>
                    <p>I'm going to assume you've extracted the source tarball into a folder called <code>~/src/olegdb</code> and that you haven't <code>cd</code>'d into it yet. Lets smash some electrons together:</p>
                    <pre><code>$ cd ~/src/olegdb
$ make
$ sudo make install
</code></pre>
                    <p>If you really wanted to could specify a different installation directory, the default is <code>/usr/lib</code>. You can do this by setting <code>PREFIX</code></p>
                    <pre><code>$ sudo make PREFIX=/usr/ install</code></pre>
                    <p>Actually running OlegDB and getting it do stuff after this point is trivial, if your installation prefix is in your PATH you should just be able to run something like the following:</p>
                    <pre><code>$ olegdb &lt;data_directory&gt;</code></pre>
                    <p>...where <code>&lt;data_directory&gt;</code> is the place you want Oleg to store persistent data information. Make it /dev/null if you want, I don't care. You can also specify IP/port information from the commandline:<p>
                    <pre><code>$ olegdb &lt;data_directory&gt; 1978 #Starts OlegDB listening on port 1978
$ olegdb &lt;data_directory&gt; 0.0.0.0 1337 #Starts OlegDB listening on the 0.0.0.0 IP, with port 1337
$ olegdb &lt;data_directory&gt; data.shithouse.tv 666 #Hostnames work too</code></pre>

                    <h3 class="perma" id="getting_started">Getting Started <a href="#getting_started">&para;</a></h3>
                    <p>Communicating with OlegDB is done via a pretty simple REST interface. You POST to create/update records, GET to retrieve them, DELETE to delete, and HEAD to get back some information about them. Probably.</p>
                    <p>For example, to store the value <span>Raphael</span> into the named database <span>turtles</span> under the key <span>red</span> you could use something like the following:</p>
                    <pre><code>$ curl -X POST -d 'Raphael' http://localhost:8080/turtles/test</code></pre>
                    <p>Retrieving data is just as simple:</p>
                    <pre><code>$ curl http://localhost:8080/turtles/test</code></pre>
                    <p>Deleting keys can be done by using DELETE:</p>
                    <pre><code>$ curl -X DELETE http://localhost:8080/turtles/test</code></pre>
                    <p>You can also tell Oleg what the Content-Type is:</p>
                    <pre><code>$ curl -X POST  --header "Content-Type: text/html" -d '&lt;p&gt;Raphael&lt;/p&gt;' http://localhost:8080/turtles/test</code></pre>
                    <p>OlegDB supports lazy key expiration. You can specify an expiration date by setting the <b>X-OlegDB-use-by</b> header to a <b>UTC</b> POSIX timestamp .
                    <pre><code>
$ curl -X POST \
-H "X-OlegDB-use-by: $(date +%s)" \
-H "Content-Type: application/json" \
-d '{turtle: "Johnny", age: 34}' http://localhost:8080/turtles/Johnny
&gt; POST /turtles/Johnny HTTP/1.1
&gt; User-Agent: curl/7.22.0 (x86_64-pc-linux-gnu) libcurl/7.22.0 OpenSSL/1.0.1 zlib/1.2.3.4 libidn/1.23 librtmp/2.3
&gt; Host: localhost:8080
&gt; Accept: */*
&gt; X-OlegDB-use-by: 1394323192
&gt; Content-Type: application/json
&gt; Content-Length: 27
&gt; 
* upload completely sent off: 27out of 27 bytes
&lt; HTTP/1.1 200 OK
&lt; Server: OlegDB/fresh_cuts_n_jams
&lt; Content-Type: text/plain
&lt; Connection: close
&lt; Content-Length: 7
&lt;
無駄

$ curl -v http://localhost:8080/turtles/Johnny
&gt; GET /turtles/Johnny HTTP/1.1
&gt; User-Agent: curl/7.22.0 (x86_64-pc-linux-gnu) libcurl/7.22.0 OpenSSL/1.0.1 zlib/1.2.3.4 libidn/1.23 librtmp/2.3
&gt; Host: localhost:8080
&gt; Accept: */*
&gt;
&lt; HTTP/1.1 404 Not Found
&lt; Status: 404 Not Found
&lt; Server: OlegDB/fresh_cuts_n_jams
&lt; Content-Length: 26
&lt; Connection: close
&lt; Content-Type: text/plain
&lt;
These aren't your ghosts.
</code></pre>
                    <p>As you can hopefully tell, the POST succeeds and a 200 OK is returned. We used the bash command <code>`date +%s`</code> which returns a timestamp. Then, immediately trying to access the key again results in a 404, because the key expired.</p>

                    <h3 class="perma" id="wtf">What the hell is up with your responses? <a href="#wtf">&para;</a></h3>
                    <p>We have fun with our HTTP responses. Really all you need is the HTTP status code to see if something worked or not. 404 means not found, 200 means the operation completed successfully, 500 if something bad happened, etc.</p>
                </div>
                <h1>liboleg</h1>
                <div class="doc_chunk">
                    <h2 class="perma" id="macros">Macros <a href="#macros">&para;</a></h2>
                    xXx LOOP macro DEFINE xXx
                    <h3 class="perma" id="xXx macro$name xXx">xXx macro$name xXx <a href="#xXx macro$name xXx">&para;</a></h3>
                    <pre><code>xXx macro$raw_code xXx</code></pre>
                    <p>xXx macro$DESCRIPTION xXx</p>
                    xXx BBL xXx
                </div>
                <div class="doc_chunk">
                    <h2 class="perma" id="enums">Enums <a href="#enums">&para;</a></h2>
                    xXx LOOP enum ENUM xXx
                    <h3 class="perma" id="xXx enum$name xXx">xXx enum$name xXx <a href="#xXx enum$name xXx">&para;</a></h3>
                    <pre><code>xXx enum$raw_code xXx</code></pre>
                    <p>xXx enum$DESCRIPTION xXx</p>
                        xXx LOOP param enum$params xXx
                        <p><span class="bold">xXx param$0 xXx:</span> xXx param$1 xXx</p>
                        xXx BBL xXx
                    xXx BBL xXx
                </div>
                <div class="doc_chunk">
                    <h2 class="perma" id="structures">Structures <a href="#structures">&para;</a></h2>
                    xXx LOOP struct STRUCT xXx
                    <h3 class="perma" id="xXx struct$name xXx">xXx struct$name xXx <a href="#xXx struct$name xXx">&para;</a></h3>
                    <pre><code>xXx struct$raw_code xXx</code></pre>
                    <p>xXx struct$DESCRIPTION xXx</p>
                        xXx LOOP param struct$params xXx
                        <p><span class="bold">xXx param$0 xXx:</span> xXx param$1 xXx</p>
                        xXx BBL xXx
                    xXx BBL xXx
                </div>
                <div class="doc_chunk">
                    <h2 class="perma" id="functions">Functions <a href="#functions">&para;</a></h2>
                    xXx LOOP function FUNCTION xXx
                    <h3 class="perma" id="xXx function$name xXx">xXx function$name xXx <a href="#xXx function$name xXx">&para;</a></h3>
                    <pre><code>xXx function$raw_code xXx</code></pre>
                    <p>xXx function$DESCRIPTION xXx</p>
                        xXx LOOP hark function$params xXx
                        <p><span class="bold">xXx hark$0 xXx:</span> xXx hark$1 xXx</p>
                        xXx BBL xXx
                    <p><span class="bold">Returns:</span> xXx function$RETURNS xXx</p>
                    xXx BBL xXx
                </div>
            </div>
        </div>
    </div>
xXx TTYL xXx
