xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Documentation
xXx TTYL xXx
xXx SCRIPTS xXx
<link rel="stylesheet" href="/static/css/documentation.css" />
xXx TTYL xXx
xXx CONTENT xXx
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content">
                <h1>Overview</h1>
                <ul>
                    <li>
                        <a href="#overview">General Overview</a>
                        <ul>
                            <a href="#getting_started">Getting Started</a>
                        </ul>
                    </li>
                    <li>
                        <a href="#macros">Macros</a>
                        <ul>
                            xXx LOOP macro DEFINE xXx
                            <li><a href="#xXx macro$name xXx">xXx macro$name xXx</a></li>
                            xXx BBL xXx
                        </ul>
                    </li>
                    <li>
                        <a href="#enums">Enums</a>
                        <ul>
                        xXx LOOP enum ENUM xXx
                            <li><a href="#xXx enum$name xXx">xXx enum$name xXx</a></li>
                        xXx BBL xXx
                        </ul>
                    </li>
                    <li>
                        <a href="#structures">Structures</a>
                        <ul>
                        xXx LOOP struct STRUCT xXx
                            <li><a href="#xXx struct$name xXx">xXx struct$name xXx</a></li>
                        xXx BBL xXx
                        </ul>
                    </li>
                    <li>
                        <a href="#functions">Functions</a>
                        <ul>
                        xXx LOOP func FUNCTION xXx
                            <li><a href="#xXx func$name xXx">xXx func$name xXx</a></li>
                        xXx BBL xXx
                        </ul>
                    </li>
                </ul>
                <div class="doc_chunk">
                    <h2 id="overview">General Overview</h2>
                    <p>OlegDB is a concurrent, pretty fast K/V hash-table with an Erlang frontend. It uses the <a href=\"https://en.wikipedia.org/wiki/MurmurHash\">Murmur3</a> hashing algorithm to hash and index keys. We chose Erlang for the server because it's functional, uses the actor model and the pattern matching is ridiculous.</p>
                    <h3 id="getting_started">Getting Started</h3>
                    <p>Running OlegDB using the builtin Erlang interfaces allows you to manipulate data using your standard REST interface commands, GET, POST, DELETE, etc.</p>
                    <p>For example, to store the value <span>Raphael</span> into the named database <span>turtles</span> under the key <span>red</span> you could use something like the following:</p>
                    <pre>
                        <code>$ curl -X POST -d 'Raphael' http://localhost:8080/turtles/test</code>
                    </pre>
                    <p>Retrieving data is just as simple:</p>
                    <pre><code>$ curl http://localhost:8080/turtles/test</code></pre>
                    <p>Deleting keys can be done by using DELETE:</p>
                    <pre><code>$ curl -X DELETE http://localhost:8080/turtles/test</code></pre>
                    <p>You can also tell Oleg what the Content-Type is:</p>
                    <pre>
                        <code>$ curl -X POST  --header "Content-Type:text/html" -d '&lt;p&gt;Raphael&lt;/p&gt;' http://localhost:8080/turtles/test</code>
                    </pre>
                </div>
                <div class="doc_chunk">
                    <h2 id="macros">Macros</h2>
                    xXx LOOP macro DEFINE xXx
                    <h3 id="xXx macro$name xXx">xXx macro$name xXx</h3>
                    <pre><code>xXx macro$raw_code xXx</code></pre>
                    <p>xXx macro$DESCRIPTION xXx</p>
                    xXx BBL xXx
                </div>
                <div class="doc_chunk">
                    <h2 id="enums">Enums</h2>
                    xXx LOOP enum ENUM xXx
                    <h3 id="xXx enum$name xXx">xXx enum$name xXx</h3>
                    <pre><code>xXx enum$raw_code xXx</code></pre>
                    <p>xXx enum$DESCRIPTION xXx</p>
                        xXx LOOP param enum$params xXx
                        <p><span class="bold">xXx param$0 xXx:</span> xXx param$1 xXx</p>
                        xXx BBL xXx
                    xXx BBL xXx
                </div>
                <div class="doc_chunk">
                    <h2 id="structures">Structures</h2>
                    xXx LOOP struct STRUCT xXx
                    <h3 id="xXx struct$name xXx">xXx struct$name xXx</h3>
                    <pre><code>xXx struct$raw_code xXx</code></pre>
                    <p>xXx struct$DESCRIPTION xXx</p>
                        xXx LOOP param struct$params xXx
                        <p><span class="bold">xXx param$0 xXx:</span> xXx param$1 xXx</p>
                        xXx BBL xXx
                    xXx BBL xXx
                </div>
                <div class="doc_chunk">
                    <h2 id="functions">Functions</h2>
                    xXx LOOP function FUNCTION xXx
                    <h3 id="xXx function$name xXx">xXx function$name xXx</h3>
                    <pre><code>xXx function$raw_code xXx</code></pre>
                    <p>xXx function$DESCRIPTION xXx</p>
                        xXx LOOP hark function$params xXx
                        <p><span class="bold">xXx hark$0 xXx:</span> xXx hark$1 xXx</p>
                        xXx BBL xXx
                    <p><span class="bold">Returns:</span> xXx function$RETURNS xXx</p>
                    xXx BBL xXx
                </div>
            </div>
        </div>
    </div>
xXx TTYL xXx
