xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Downloads
xXx TTYL xXx
xXx SCRIPTS xXx
<link rel="stylesheet" href="/static/css/downloads.css" />
xXx TTYL xXx
xXx CONTENT xXx
    <div class="grid grid-pad">
        <div class="col-1-3">
            <div class="content">
                <div class="downloadable">
                    <h2>Source</h2>
                    <p>&quot;Tests pass, right?&quot;</p>
                    <img src="/static/img/git.svg">
                    <p><a href="https://github.com/infoforcefeed/Project-Oleg">Proudly hosted on Github</a></p>
                </div>
            </div>
        </div>
        <div class="col-1-3">
            <div class="content">
                <div class="downloadable">
                    <h2>Cutting Edge</h2>
                    <p>&quot;Stable.&quot;</p>
                    <img src="/static/img/lazy.svg" title="&quot;Stable&quot;">
                    <p>Coming soon...</p>
                </div>
                <pre>MD5 9cc4984913693a69fe030ebda6dfbdf9</pre>
            </div>
        </div>
        <div class="col-1-3">
            <div class="content">
                <div class="danger downloadable">
                    <h2>Hemmorhaging Edge</h2>
                    <p>&quot;What are you doing?&quot;</p>
                    <img src="/static/img/drowning.svg" title="You got a death wish, Johnny Truant?">
                    <p><a href="https://github.com/infoforcefeed/Project-Oleg/archive/master.zip">Latest HEAD</a></p>
                </div>
                <pre>MD5 WHO KNOWS, MAN?</pre>
            </div>
        </div>
    </div>
xXx TTYL xXx
