xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Downloads
xXx TTYL xXx
xXx CONTENT xXx
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content">
                <h2>Source</h2>
                <p><a href="https://github.com/infoforcefeed/Project-Oleg">Proudly hosted on Github</a></p>
                <h2>Unstable</h2>
                <p>TODO Add tarball link here</p>
                <h2>Stable (0.1)</h2>
                <p>TODO Add tarball link here</p>
            </div>
        </div>
    </div>
xXx TTYL xXx
