xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Frequently Asked Questions
xXx TTYL xXx
xXx CONTENT xXx
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content">
                <h2>Is this a joke?</h2>
                <p>No. We use this everyday for all of our projects.</p>
                <h2>Why are you doing this?</h2>
                <p>"My goal is to outrank redis with one of the worst OSS products on the free market."</p>
                <p class="italic">Kyle Terry, Senior Developer</p>
                <h2>Can I use this in production?</h2>
                <p>Yeah, sure whatever.</p>
                <h2>Should I use this in production?</h2>
                <p>Yes, most definitely.</p>
                <h2>Why did you make X the way it is? Other people do Y.</h2>
                <p>Well, we're trend-setters. Clearly our way of accomplishing things just hasn't been accepted yet.</p>
                <h2>Why isn't there a 32-bit version?</h2>
                <p>We'd rather not be a contributor to the <a href="http://en.wikipedia.org/wiki/Year_2038_problem">Year 2038 problem.</a></p>
                <h2>Are you guys CS 100 students?</h2>
                <p>We were. Never really made it past that.</p>
            </div>
        </div>
    </div>
xXx TTYL xXx
