xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Frequently Asked Questions
xXx TTYL xXx
xXx CONTENT xXx
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="content">
                <h2>General questions:</h2>
                <ul>
                xXx LOOP question questions xXx
                    <li><a href="#xXx i xXx">xXx question xXx</a></li>
                xXx BBL xXx
                </ul>
                xXx LOOP answer answers xXx
                <h3 id="xXx i xXx">xXx questions$i xXx</h3>
                <p>xXx answer xXx</p>
                xXx BBL xXx
            </div>
        </div>
    </div>
xXx TTYL xXx
