xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Project Home
xXx TTYL xXx
xXx SCRIPTS xXx
<script>
slogans = [
    "when mission critical just doesn't make any sense.",
    "when you just don't really need master-master replication.",
    "when those other databases are just too relational.",
    "when determinism really isn't your thing.",
    "when JSON is holding you back.",
    "when concurrency isn't cool anymore."
];
function fade_change(element, text) {
    var op = 1;
    var timer = setInterval(function () {
        if (op <= 0.1){
            clearInterval(timer);
            element.innerHTML = text;
            element.style.opacity = 0.0;
            fade_in(element);
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op -= op * 0.1;
    }, 50);
}
function fade_in(element) {
    var op = 0;
    var timer = setInterval(function () {
        if (op >= 1.0){
            clearInterval(timer);
            element.style.opacity = 1.0;
        }
        element.style.opacity = op;
        element.style.filter = 'alpha(opacity=' + op * 100 + ")";
        op += 0.05;
    }, 50);
}
function change_text() {
    var rand = Math.floor(Math.random() * slogans.length);
    change_me = document.getElementById("changing_text");
    fade_change(change_me, slogans[rand]);
    setTimeout(change_text, 7000);
}
window.onload = function() {
    var rand = Math.floor(Math.random() * slogans.length);
    change_me = document.getElementById("changing_text");
    change_me.innerHTML = slogans[rand];
    setInterval(change_text, 7000);
};
</script>
xXx TTYL xXx
xXx CONTENT xXx
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div id="h1_here_bro" class="center_text content">
                <h2>A database for those times </h2><h2 id="changing_text"></h2>
            </div>
        </div>
    </div>
    <div class="grid grid-pad">
        <div class="col-1-2">
            <div class="content">
                <img class="oleg_logo" src="/static/img/olegdb.svg"></img>
            </div>
        </div>
        <div class="col-1-2">
            <div class="content">
                <h3>Introducing: Project Oleg</h3>
                <p>OlegDB is a database that meets the bottom line head-on.</p>
                <ul>
                    <li>Big Data</li>
                    <li>Small Data</li>
                    <li>Clustering with Bash</li>
                    <li><strike>A</strike>CID compliance</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid grid-pad">
        <div class="col-1-2">
            <div class="content">
                <h3>Written and designed with battle-tested concepts</h3>
                <p>The 1980's were a glorious time for database experimentation, with the clear winner being DBM. With that in mind, we built OlegDB.</p>
                <ul>
                    <li>Written in pure ANSI C</li>
                    <li>Hard keysize limit of 16 characters</li>
                    <li>Single-threaded</li>
                    <li>Is RESTful</li>
                    <li><a href="https://www.gnu.org/philosophy/free-sw.en.html">Respects your Freedom</a></li>
                </ul>
            </div>
        </div>
        <div class="col-1-2">
            <div class="content">
                <img class="oleg_logo" id="oleg_logo2" src="/static/img/olegdb2.svg"></img>
            </div>
        </div>
    </div>
    <div class="grid grid-pad">
        <div class="col-1-1">
            <div class="center_text content">
                <p>Benchmarks and curl2sudo&reg; install script coming soon.</p>
            </div>
        </div>
    </div>
xXx TTYL xXx
