xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Project Home
xXx TTYL xXx
xXx CONTENT xXx
    <div class="col-1-2">
        <div class="content">
            <img id="oleg_logo" src="/static/img/olegdb.svg"></img>
        </div>
    </div>
    <div class="col-1-2">
        <div class="content">
            <h3>Introducing: Project Oleg</h3>
            <p>OlegDB is a database that meets the bottom line head-on.</p>
            <ul>
                <li>Big Data</li>
                <li>Small Data</li>
                <li>Clustering with Bash</li>
                <li><strike>A</strike>CID compliance</li>
            </ul>
            <p>Benchmarks and curl2sudo&reg; install script coming soon.</p>
        </div>
    </div>
xXx TTYL xXx
